<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    
    <div class="m-3 row">
        <div class="d-flex justify-content-start align-items-center col">
            <h4>Your Images</h4>           
        </div>
        <div class="d-flex justify-content-end col">
            <button class="btn btn-outline-success" (click)="uploadImage()">Upload Image</button>     
        </div>          
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4 d-flex justify-content-center" *ngFor="let image of images">
          <div >
            <a [routerLink]="['/images',image.id]">
                <img [src]="image.thumbnailUrl" [title]="image.title" width="410" height="410">
            </a>         
          </div>
        </div>
    </div>
</div>


